{
	"mylogsdir":"./logs",
	"outputs":"/exports/testreports",
	"crashdumps":"/tmp/kcrashes",
	"syslogdir":"/tmp/syslogs",
	"testoutputdir":"testresults",
	"testoutputowner":"green",
	"http_server":"http://testing.linuxhacker.ru:3333/lustre-reports/",
	"root_path_offset":"/exports/testreports/",
	"defaultdistro":"centos7",
	"power-cb":"./power-ok-to-sleep.sh",
	"testdone-cb":"./bin/onetestdone.sh",
	"testsetdone-cb":"./bin/testsetdone.sh",
	"core-processors":3,
	"core-compressors":1
}
